$main-bg-text-color: #ffffff;
$accent-color: #ff6b01;
$secondary-text-colour: #000000;
$footer-text-colour: #545454;
$error-text-colour: #ff001b;
$light-gray-description-box: #8c8c8c;
$modal-bg-colour: #efefef;
$footer-bgc: #f7f7f7;
$logo-icon-color: #818181;
$cards-bg-colour: #e5e5e5;
$duration-main: 250ms;
$timing-function-main: cubic-bezier(0.4, 0, 0.2, 1);
