@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.page-header {
  min-width: 320px;
  height: 230px;
  padding-top: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: rgba(0, 0, 0, 0.56);
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-logo-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-top: 41px;
  color: #ffffff;
}

.header-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* input */
.header-input {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 336px;
  height: 20px;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom: 0.5px solid #ffffff;
  background-color: transparent;
  outline: none;
  margin-right: auto;
  margin-left: auto;
  color: #ffffff;
  padding-bottom: 4px;
  background: url() no-repeat 3px 1px;
  background-position: right;
}

::-webkit-input-placeholder {
  font-family: Roboto;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  padding-bottom: 4px;
}

:-ms-input-placeholder {
  font-family: Roboto;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  padding-bottom: 4px;
}

::-ms-input-placeholder {
  font-family: Roboto;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  padding-bottom: 4px;
}

::placeholder {
  font-family: Roboto;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  padding-bottom: 4px;
}

.header-button {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  background-color: transparent;
  border-color: transparent;
  color: #ffffff;
}

.page-main {
  padding-top: 200px;
  height: 500px;
}

.galery {
  display: block;
  text-align: center;
}

.footer {
  background-color: #f7f7f7;
}

.footer__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #545454;
}

.footer__link {
  position: relative;
  color: #545454;
  text-decoration: none;
  z-index: 1;
}

.footer__link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #545454;
  z-index: 10;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__link:hover::after, .footer__link:focus::after {
  -webkit-transform: scale(0);
          transform: scale(0);
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.container {
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
  max-width: 320px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 620px;
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 880px;
    padding-right: 15px;
    padding-left: 15px;
  }
}
/*# sourceMappingURL=main.css.map */