<footer class="footer">
  <div class="container">
    <div class="footer__text">
      <p>© <span class="footer__data"></span> | All Rights Reserved |&nbsp;</p>
      <div class="footer__second-text">
        <p>Developed with</p>
        <svg
          width="14"
          height="13"
          class="footer__icon animate__animated animate__heartBeat animate__infinite animate__slow"
        >
          <use href="./images/icons.svg/#icon-Vector1"></use>
        </svg>
        <p>
          by
          <a href="https://goit.ua/?lang=uk" target="_blank" class="footer__link">GoIT Students</a>
        </p>
      </div>
    </div>
  </div>
</footer>
