<header id="head" class="header header__main">
  <div class="container">
    <div class="header-nav">
      <a class="header-nav__logo header-nav__title" id="nav-logo">
        <svg class="header-nav__icon" width="30" height="30">
          <use href="./images/icons.svg#icon-film"></use>
        </svg>
        Filmoteka
      </a>
      <ul class="header-nav__list">
        <li class="header-nav__list-item">
          <a href="./index.html" class="header-nav__list-item-link current" id="home-page">Home</a>
        </li>
        <li class="header-nav__list-item">
          <a href="" class="header-nav__list-item-link library" id="library-page">My library</a>
        </li>
      </ul>
    </div>
    <div class="search-film__wrap">
      <div class="search-film__input">
        <form id="form">
          <input
            type="text"
            name="search"
            autocomplete="off"
            placeholder="Поиск фильмов"
            class="input__form"
          />
          <button type="submit" class="input__btn">
            <svg class="input__btn-icon" width="12" height="12">
              <use href="./images/icons.svg#icon-search"></use>
            </svg>
          </button>
        </form>
      </div>
    </div>
    <div class="my-library__wrap visually-hidden">
      <button class="my-library__button my-library__button-active">Watched</button>
      <button class="my-library__button">Queue</button>
    </div>
  </div>
</header>
