<header class="page-header">
    <div class="container">
        <div class="header-logo">
            <a href="#" class="header-logo_link">
                <img class="header-logo__img" src="" alt="logo" />
                <span class="header-logo__title">Filmoteka</span>
            </a>
        </div>
        <input class="header-input" data-input type="text" name="query" autocomplete="off"
            placeholder="Поиск фильмов" />
        <nav class="header-nav">
            <ul class="header-nav__list">
                <li class="">
                    <button class="header-button" type="button">Home</button>
                </li>
                <li class=""><button class="header-button" type="button">my library</button></li>
            </ul>
        </nav>

    </div>
</header>