.page-main {
  background-color: $main-bg-text-color;
}

.gallery {
  justify-content: center;

  min-width: 280px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 40px;

  gap: 20px;

  @include for-tablet {
    min-width: 618px;

    padding-top: 60px;
    padding-bottom: 50px;
    gap: 30px;
  }
  @include for-desktop {
    min-width: 882px;
  }
}

.card {
  cursor: pointer;
  &:hover,
  &:focus {
    box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.5);
    border-radius: 5px;

    background-color: $cards-bg-colour;

    .card-img {
      border-radius: 5px 5px 0 0;
    }
  }
  width: 280px;
  height: 443px;
  box-shadow: 1px 1px 5px 5px rgba(255, 255, 255, 0.5);
  @include for-tablet {
    width: 294px;
    height: 440px;
  }
  @include for-desktop {
    width: 274px;
  }

  &-img {
    // // анимация для карточки-----------------------------------
    &__anime {
      animation: rotateY 1500ms alternate ease-in-out 250ms;

      @keyframes rotateY {
        0% {
          transform: perspective(5000px) rotateY(180deg);
        }

        100% {
          transform: perspective(5000px) rotateY(0deg);
        }
      }
    }
    // -------------------------------------------------------------

    box-shadow: 1px 1px 5px 5px rgb(255, 255, 255, 0.1);
    border-radius: 5px;
    width: 280px;
    height: 402px;
    @include for-tablet {
      width: 294px;
      height: 398px;
    }
    @include for-desktop {
      width: 274px;
    }
  }
  &-info {
    padding-top: 10px;
    padding-left: 2px;
    &__title {
      font-size: 12px;
      font-weight: 500;
      text-transform: uppercase;
      line-height: 1.16;
      @include for-tablet {
        line-height: 1.33;
      }
    }
    &__text {
      display: flex;
      align-items: center;
      font-size: 12px;
      font-weight: 500;
      line-height: 1.33;
      color: $accent-color;
    }
    &__vote {
      margin-left: 10px;
      padding-left: 8px;
      padding-right: 8px;
      border-radius: 50px;
      color: $main-bg-text-color;
      background-color: $accent-color;
    }
  }
}
