.backdrop {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 33, 33, 0.3);
  backdrop-filter: blur(2px);
}

.modal {
  padding: 48px 20px 40px 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: $main-bg-text-color;
  width: 280px;
  max-height: 568px;

  @media screen and (min-width: 768px) {
    padding-top: 42px;
    padding-right: 30px;
    padding-left: 30px;
    display: flex;
    width: 618px;
    max-height: 600px;
  }

  @media screen and (min-width: 1024px) {
    padding-top: 50px;
    width: 882px;
  }

  &__btn-colse {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 15px;
    height: 15px;
    background-color: transparent;
    padding: 0;
    margin: 0;
    border: 0;
    cursor: pointer;
  }

  &__icon-close {
    background-color: $secondary-text-colour;
    width: 14px;
    height: 1px;

    transform: rotate(45deg);

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      content: '';
      background-color: $secondary-text-colour;
      width: 14px;
      height: 1px;
      cursor: pointer;
      transform: rotate(90deg);
    }
  }

  &__img {
    margin-bottom: 30px;
    border-radius: 5px;
    width: 240px;
    height: 355px;
    background-color: rgb(85, 75, 75);

    @media screen and (min-width: 768px) {
      margin-right: 30px;
      margin-bottom: 0;
      width: 264px;
    }

    @media screen and (min-width: 1024px) {
      width: 396px;
      height: 477px;
    }
  }

  &__text-wrapper {
    display: flex;
    margin-bottom: 20px;
  }

  &__title {
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 20px;
    line-height: calc(23.44 / 20);

    @media screen and (min-width: 1024px) {
      font-size: 30px;
    }
  }

  &__text--title {
    color: $light-gray-description-box;
  }

  &__text-box {
    margin-left: 40px;
  }

  &__text {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 12px;
    line-height: calc(16 / 12);

    &:last-child {
      margin: 0;
    }
  }

  &__votes {
    padding-right: 10px;
    padding-left: 9px;
    background-color: $accent-color;
    color: $main-bg-text-color;
    border-radius: 2px;
  }

  &__text--uppercase {
    text-transform: uppercase;
  }

  &__about-title {
    font-weight: 500;
    font-size: 12px;
    line-height: calc(20 / 12);
  }

  &__about {
    font-weight: 500;
    font-size: 12px;
    line-height: calc(20 / 12);
    margin-top: 10px;
    margin-bottom: 20px;

    @media screen and(min-width: 1024px) {
      line-height: calc(20 / 12);
    }
  }

  &__btn {
    padding: 0;
    margin: 0;
    width: 111px;
    height: 44px;
    background-color: transparent;
    border: 1px solid $secondary-text-colour;
    border-radius: 5px;
    cursor: pointer;

    font-weight: 500;
    font-size: 12px;
    line-height: calc(16 / 12);

    &:last-child {
      margin-left: 14px;
    }
  }
}

button {
  border: transparent;
}

.dont-scroll {
  overflow: hidden;
}
