.tui-pagination {
  height: 40px;
  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  border: none;

  .tui-page-btn {
    width: 40px;
    height: 40px;
    margin: 0;
    padding: 13px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    border-radius: 5px;
    border: none;
  }

  .tui-first,
  .tui-last {
    display: none;

    @include for-tablet {
      display: block;
      background: $pagination-bg-colour;
      border-radius: 5px;
      border: none;
      padding: 13px 10px 10px 13px;
    }
  }

  .tui-first {
    margin-right: 10px;
  }
  .tui-last {
    margin-left: 10px;
  }

  .tui-is-disabled .tui-ico-first {
    background-position: -16px 0px;
  }

  .tui-ico-first {
    display: none;

    @include for-tablet {
      display: block;
      width: 16px;
      height: 16px;
      background: url(./../images/pagination/right.png) no-repeat;
      transform: matrix(-1, 0, 0, 1, 0, 0);
    }
  }

  .tui-ico-last {
    display: none;

    @include for-tablet {
      display: block;
      width: 16px;
      height: 16px;
      background: url(./../images/pagination/right.png) no-repeat;
    }
  }

  .tui-first-child.tui-is-selected,
  .tui-last-child.tui-is-selected {
    border: $pagination-bg-colour-accent;
  }

  .tui-next,
  .tui-prev {
    padding: 12px;
    background: $pagination-bg-colour;
    border-radius: 5px;
    border: none;
  }

  .tui-prev {
    margin-right: 10px;
  }

  .tui-next {
    margin-left: 10px;
  }

  .tui-ico-prev {
    width: 16px;
    height: 16px;
    background: url(./../images/pagination/arrow-rigth.png) no-repeat 0 0;
  }

  .tui-is-disabled .tui-ico-prev {
    background-position: 15px 0;
  }

  .tui-ico-next {
    width: 16px;
    height: 16px;
    background: url(./../images/pagination/arrow-left.png) no-repeat 0 0;
  }

  .tui-prev-is-ellip,
  .tui-next-is-ellip {
    display: none;

    @include for-tablet {
      display: block;
    }
  }

  .tui-ico-ellip {
    margin-top: 6px;
  }

  .tui-is-selected,
  .tui-is-selected:hover,
  & strong {
    color: #ffffff;
    background: $pagination-bg-colour-accent;
    border-color: $pagination-bg-colour-accent;
  }
}
